.thin-button {
    width: 60px;
    margin-right: 5px;
}

.narrow-textbox {
    width: 40px;
    text-align: right;
}

.input-group {
    display: flex;
    align-items: center;
}

#quantity-input {
    width: 40px;
}
